<div class="row no-gutters bg-white mat-typography my-3">
  <div class="col-8">
    <app-the-map
      [demands]="demands"
      (demandClick)="demandClick($event)"
    ></app-the-map>
  </div>
  <div class="col-4">
    <h3 class="text-center my-2" [ngSwitch]="stepOnSelectionZone">
      <strong *ngSwitchCase="1">Selectare Beneficiari</strong>
      <strong *ngSwitchCase="2">Selectare Voluntari</strong>
      <strong *ngSwitchCase="3">FINISH!</strong>
    </h3>

    <div class="container py-2 bg-light border-top border-bottom">
      <div class="row">
        <div class="col-6">
          <mat-select
            [formControl]="zone"
            placeholder="Sector"
            (selectionChange)="filterChanged()"
          >
            <mat-option value="all">
              {{ "all" | translate }}
            </mat-option>
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone | translate }}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-6">
          <mat-select
            [formControl]="type"
            placeholder="Necesitate"
            (selectionChange)="filterChanged()"
          >
            <mat-option value="all">
              {{ "all" | translate }}
            </mat-option>
            <mat-option *ngFor="let demand of demandTypes" [value]="demand">
              {{ demand | translate }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container [ngSwitch]="stepOnSelectionZone">
      <app-demands-map-list
        *ngSwitchCase="1"
        [demands]="demands"
        (demandClick)="demandListClick($event)"
      ></app-demands-map-list>

      <div class="d-none">
        <div style="background-color: rgb(44, 153, 117)">
          <mat-form-field class="" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
              (dateInput)="onDateChange($event)"
              title=""
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="" appearance="fill">
            <mat-label>Filter by Name or Family</mat-label>
            <input
              matInput
              [(ngModel)]="filterVolunteerByNameOrFamily"
              placeholder="filter by name or family"
              title=""
            />
          </mat-form-field>
        </div>
        <cdk-virtual-scroll-viewport itemSize="50" class="cdk-viewport">
          <div
            *cdkVirtualFor="
              let vol of volunteers
                | filterByNameOrFamily: filterVolunteerByNameOrFamily
            "
            (click)="volunteerClicked(vol._id)"
          >
            <div *ngIf="checkIfVolunteerAvailable(vol.availability_days)">
              <mat-card style="width: auto; height: auto; padding: 9px 11px">
                <mat-card-header
                  style="border: 1px solid rgb(131, 63, 63)"
                  [style.backgroundColor]="
                    !!selectedVol && selectedVol._id === vol._id
                      ? 'red'
                      : 'white'
                  "
                >
                  <mat-card-title>
                    <mat-icon svgIcon="selection-dot"></mat-icon>
                    {{ vol.first_name + " " + vol.last_name }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    <mat-icon style="font-size: 16px">place</mat-icon>
                    {{ vol.address }}
                  </mat-card-subtitle>
                  <mat-card-subtitle>
                    <mat-icon style="font-size: 16px">mail</mat-icon>
                    <!-- {{ vol.type || "nedeterminat" }} -->
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>

      <div *ngSwitchCase="3">
        <p>Sarcina este În Proces.</p>
        <p>Link-ul a fost trimis voluntarului pe email.</p>

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon svgIcon="selection-dot"></mat-icon>
              {{ selectedVolunteer.first_name || "_???_" }}
            </mat-card-title>
            <mat-card-subtitle>
              <mat-icon style="font-size: 12px">place</mat-icon>
              {{ selectedVolunteer.zone }}
            </mat-card-subtitle>
            <mat-card-subtitle>
              <mat-icon style="font-size: 16px">mail</mat-icon>
              {{ selectedVolunteer.email || "nedeterminat" }}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </ng-container>

    <!-- Add small pagination -->

    <div class="text-center py-2 border-top">
      <button
        mat-flat-button
        color="primary"
        (click)="nextFormStep()"
        [ngSwitch]="stepOnSelectionZone"
      >
        <span *ngSwitchCase="1">Următor</span>
        <span *ngSwitchCase="2">Alocă</span>
        <span *ngSwitchCase="3">Sarcină Nouă</span>
        <span *ngSwitchDefault>ERROR !!!</span>
      </button>
    </div>
  </div>
</div>

<mat-expansion-panel hideToggle class="shadow-none">
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex justify-content-center">
      <mat-icon>map</mat-icon>
      <span class="ml-1">Hartă</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mx-n4 mb-n3">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
    vero!
  </div>
</mat-expansion-panel>
